[Unit]
#Description=Media Data store
#DefaultDependencies=no
#Conflicts=umont.target
After=network.target
Wants=network.target

[Mount]
What=reno.home:/shirayuki/Home/apinter
Where=/home/apinter/Media
Type=nfs
Options=auto
TimeoutSec=60

[Install]
WantedBy=multi-user.target